* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.movies{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;  
  }
  .movies  .movie {
    width: 50%;
    padding-left: 10px;
    border-radius: 5px;
    color:#adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
    margin-bottom: 0 20px 10px 0;
    }
  @media only screen and (max-width: 800px){
    .movies  .movie {   
      width: 100%;
    }
  }

img {
    position: relative;
    top: -.5em;
    max-width: 30%;
    margin: 1em;
    /*border:1px solid;*/
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -18px rgba(0, 0, 0,  0.025);
    vertical-align:middle;
    float:left;
}
li {
    list-style: none;
    display: inline;
    padding-right: .5em;
}
.movie__data:after {
    clear:both;
    content:"";
    display:block;
}
